{% extends 'base.html' %}

{% block title %}Home Page{% endblock %}

{% block content %}
<head>
    <link rel="stylesheet" href="static/styles.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
    <div id = "margins">
        <p></p>
        <p>
            <img src="{{ url_for('static', filename='images/Daily Letter.png') }}" alt="Encountered an error loading 'Daily Letter Text'" width= '178' height = '30' >
        </p>
        <p>
            <img src="{{ url_for('static', filename='images/letters/' + counter + '.png') }}" alt="Encountered an error loading 'BSL Learning Info Sheet'" width= '200' height = '200' >
            <img src="{{ url_for('static', filename='images/Welcome Message.png') }}" alt="Encountered an error loading 'BSL Learning Info Sheet'" width= '310' height = '175' >
        </p>
    </div>
    <div id="the-final-countdown">
        <p></p>
    </div>

    <script src="{{ url_for('static', filename='countdown.js') }}"></script>
{% endblock %}